@font-face {
  font-family: myFirstFont;
  src: url(../font/upheavtt.ttf);
}

div {
  font-family: myFirstFont;
}


.gridScroll{
  width: auto;
  height: auto;
  overflow-x:auto;
  overflow-y: auto;
  text-align: center;
}
.button {
  background-color: #000000;
  font-family: myFirstFont;
  border: none;
  color: #ffe055;
  border: 2px solid #ffe055;
  border-radius: 8px;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
}
.contrast {
  color: #ffe055;
}
.font2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: black;
  color: #DDDDDD;
  font-family: myFirstFont;
  text-align: center;
    position:relative; 
    background-image: url('../img/mine_bg.gif');
}

h1 {
  text-align: center;
  font-size: 20pt;
  font-weight: normal;
}
#grid {
  border: 3px solid #ffe055;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.icon{
  max-width: 24px;
  max-height: 24px;
}

#grid TR TD{
  border:1px solid white;
  background: #999999;
  min-width: 24px;
  height: 24px;
  font-size: 16pt;
  text-align: center;
}

#grid TR TD.clicked {
    background: #333333;
}
 
#grid TR TD.mine-triggered {
  background: #c0aa4a;
}
#grid TR TD.mine-lose {
    background: #b12e2e;
}
#grid TR TD.mine-win {
  background: #35ad35;
}

#grid.gameOver {
  cursor: not-allowed;
}

button {
  margin: 20px;
}
.hud
{
  font-size: 20px;
}

.win {
  background-color: #35ad35;
}
.lose {
  background-color: #b12e2e;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}